# Configures which modules `env_logger` should emit logs for.
#
# This variable is read by `env_logger`, not the application itself, so it won't appear on the `Config` struct.
#
# The value here enables log messages from the backend application as well as log messages emitted for incoming
# requests.
#
# See: https://docs.rs/env_logger/0.9.0/env_logger/#enabling-logging
RUST_LOG=email-serv=debug


### DATABASE
DB_CONN=sqlite://example.db

PORT=5000

BLAKE3_KEY=327da54c32bbda6f1b56c2e248620d31324b6bf5664fc31ab4d455f38787a5fa
